<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles-landing.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;400;500;600;700&family=Redressed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap/bootstrap.css">
    <link rel="icon" href="../static/images/logo.png" type = "image/x-icon">
    <title>LocoZen</title>
</head>
<body>
    <main>
        <header>
            <section>
                <img src="../static/images/logo.png" alt="Logo of LocoZen" class = "header-img">
            </section>

            <h1 class = "head-main-head">LocoZen</h1>

            <p class = "head-main-p">A one stop destination for all your needs.</p>

            <section class = "call-to-action-btns">
             <button  onclick="window.location.href='/../SignUp_Login/index.html' " class = "btn btn-info log-in" >Log In</button></a>
              <button class =  "btn btn-danger sign-up"onclick="window.location.href='/../SignUp_Login/index.html' " >Sign Up</button></a>
                       </section>

            <img src="../static/images/rocket.png" alt="Moving Rocket Animation" class = "rocket-animation-img">
        </header>
        
        <section class = "black-portion">
            <section class = "container">
                <section class = "first">
                    <img src="../static/images/gears.svg" alt="Illustrated picture of gears">
                    <h3>Built With You in Mind</h3>
                    <p>The website has been specially designed to give the user a premium experience. It is also easy to navigate through.</p>
                </section>
                <section class = "second">
                    <img src="../static/images/rocket.svg" alt="Illustrated picture of a rocket">
                    <h3>Our Endeavour to Help Society</h3>
                    <p>We constantly try to help the society we live in. 
                        During the current crisis, many local vendors such as grocers and florists have lost their means of livelihood. We thus wish to give them an easy medium to sell their products.
                    </p>
                </section>
                <section class = "third">
                    <img src="../static/images/ideas.svg" alt="Illustrated picture of a lightbulb">
                    <h3>Constantly Innovating</h3>
                    <p>We regularly update our site to keep up with the competition and provide a refined ecperience. </p>
                </section>
            </section>
        </section>

        <section class = "blue-portion">
            <h2>Our Main Objective</h2>
            <p>As mentioned above, we constantly try to help the society we live in. This is our main objective. During the recent pandemic, unplemployment levels reached sky-high and the shopkeepers and grocers, who were already struggling to make ends meet, fell either into knee-deep debt or poverty. They do nto have the financial means to make an e-commerce website which is in vogue. Thus, we decided to give them a platform on which they can host their products for free. Doing this, we wish to help in the process of making a free and fair society.</p>
            <img src="../static/images/local-market.png" alt="Illustrated picture depicting a local market.">
        </section>

        <section class = "red-portion">
            <h2>Our Commitment to Responsive Design</h2>
            <p>As a part of our commitment to accessibility, we are devoted to provide a responsive design to our webiste so that people are not constrained by the type of device they have. Though we generally recommend using a desktop or laptop, we try our best to include accessibilty for other devices such as smartphones, tablets, and larger screens.</p>
            <img src="../static/images/devices.png" alt="Illustrated picture showing a website being viewed on multiple devices.">
            <h2 class = "start-journey">Ready to start your journey?</h2>
            <button class = "btn btn-dark" onclick="window.location.href='/../SignUp_Login/index.html' ; AutoClicking()">Sign Up</button>
        </section>
        
    </main>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
